*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
}
.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header{
  width: 550px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 4rem;
}
.content{
  width: 550px;
}

h2{
  color: #cc3a69;
  letter-spacing: 0.2rem;
}

button{
  background-color: #cc3a69;
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s all ease-in;
}

button:hover{
  background-color: #ef618e;
  padding: 0.3rem 0.9rem;
}
button:active{
  padding: 0.4rem 1rem;
}

.box{
  margin-top: 2rem;
}
p{
  color: gray;
}

p:nth-child(3){
  margin-top: 0.7rem;
}

p:nth-child(2){
  margin-top: 0.3rem;
}